/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scrollbar-width: thin;
	-webkit-overflow-scrolling: touch;
}

body {
	min-height: 100vh;
	height: 100%;
	position: relative;
}
